@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lora:wght@400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
}

.secess-page{
    background-color: #fafafa;
    margin: 22px 22px 22px 60px;
    height: auto;    
}

/* our header area style start here  */
.vorschau-nav{
    display: flex;
}
.vorschau-nav .single-nav{
    height: 4.438;
    font-size: 3.25rem;
    margin-top: 5.563rem;    
    font-weight: 700;
    color: #0071AF;
    padding: 6px 22px 8px 16px;
    margin-right: 3px;
    font-family: 'Nunito Sans', sans-serif;
}
.our-main-logo{
    text-align: end;
    margin-right: 1.125rem;
    margin-top: 2.286rem;
}
.our-menu-nabbar {
    position: absolute;
    left: 1.313rem;
    height: 2rem;   
    width: 2rem;
    top: 6.75rem;
    
}
.vorschau-nav .single-nav:hover{
    color: #18944C;
    transition: .1s;  
    background-color: #ffffff; 
    border-radius: 20px 30px 0px 0px; 
}
.single-navs{
    color: #F29301 !important;
}
.single-nav-one{
    padding: 6px 29px 8px 16px;
}
.single-nav-items{
    position: relative;
}
.single-nav-items:hover .sub-menu{
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.sub-menu{
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: #FFFFFF;
    padding: 25px 44px 0px 44px;
    width: 85rem;
    height: 20.813rem;
    z-index: 7;
    transition: .2s;
    border-radius: 0px 60px 30px 30px;
    visibility: hidden;
    opacity: 0;
}
.sub-unoder-list{    
    border-left: 2px solid #18944C;
    height: 70%;
    
}
.sub-unoder-list-one{
    border: 0;
}
.sub-single-nav{
    margin-left: 1.875rem;
    font-size: 1.75rem;
    color: #18944C;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
}
.sub-unoder-list li{
    list-style: disc;
    color: #18944C;
    margin-left: 3.125rem;
}
.sub-nav{
    font-size: 1.375rem;
    color: #18944C;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;  
}
.sub-nav:hover{    
    color: #F29301;
    transition: .1s;
    
}
/* our off-canvar-menu style start here  */
.off-canvar-menu{
    background-color: #0071AF;
    position: fixed;
    width: 1574px;
    height: 100%;
    margin-left: -1574px;
    z-index: 9;
    padding: 60px;
}
.off-canvar-menu.active{ 
    margin-left: 4.063rem;
    transition: .2s;
}
.menu-close{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.offcanver-items{
    display: flex;
    justify-content: space-between;
}
.off-canvar-menu-list li a{
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.625rem;
}
.off-canvar-submenu{
    display: flex;
}
.off-canvar-submenu li a {
    font-size: 24px;
    margin: 10px 50px 10px 0px;
    display: block;
}
.offcanver-items img{
    height: 143px;
    width: 107px;
}
.off-canvar-submenu li a:hover {
    color: #F29301;
    transition: .2s;
    
}
.off-canvar-dwon-list ul{
    display: flex;
    margin-top: 100px;
}
.off-canvar-dwon-list ul li a{
    color: #FFFFFF;
    margin-right: 35px;
    font-size: 16px;
}
.off-canvar-dwon-list ul li a:hover{
    color: #F29301;
   
}
/* our hero area style start here  */
.our-hero-area{
    background-image: url(assets/images/Group\ 2.png);    
    height: 24.125rem;
    margin: 0px 22px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center; 
}
.hero-heding{
    padding-top: 2.313rem; 
    padding-left: 2.375rem;
    font-family: 'Lora', serif;
    font-size: 3.25rem;
    height: 4.188rem;
    font-weight: 700;
    color: #FFFFFF;
}
.hero-para{
    font-size: 1.25rem;
    font-weight:600;
    font-family: 'Nunito Sans', sans-serif;
}
.hero-contact {
    rotate: -90deg;
    position: absolute;
    left: -5.6rem;
    top: 28rem;
}
.hero-contact a{
    display: block;
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 16.94px;
    font-family: 'Inter', sans-serif;
    
}
.hero-contact a img{
    rotate: 90deg;    
    margin-right: 5px;
    height: 1.5rem;
    width: 1.5rem;
}
/* our hero slider  */
.slick-next{    
    left: 25px;    
}
.slick-next:before {
    position: absolute;
    content:url('assets/images/slider-arows.svg');
    bottom: -140px;    
}

/* our ourrent section area style start here  */
.our-current-section{
    padding: 34px 25px 0px 28px;
}
.current-uparow{
    position: absolute;
    left: 0px;
}
.current-heder{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.092rem;
    color: #F29301;
}
.current-heding p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.125rem;
    color: #F29301;
    margin: 12px;
    margin-left: 0;
}
.current-heding h2{
    font-size: 1.75rem;
    line-height:  1.75rem;
    color: #000000;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
}
.current-heding h2:hover{
    color: #18944C;
    transition: .2s;
}
.single-current-heding{
    display: flex;
    justify-content: space-between;
}

.single-current{
    width: 100%;
}
.single-current-img img{
    width: 100%;
    border-radius: 120px 120px 120px 0px;
}
.current-para{
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: 'Nunito Sans', sans-serif;
}
.our-current-btm {
    border-bottom: 1px solid #000000;    
    width: 800px;
    margin: auto;
    margin-top: 135px;
    margin-bottom: 89px;
}
.blog-heading{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    color: #18944C;
    margin-left: 1.75rem;
}
.current-heding .blog-para{
    color: #18944C;
}

/* our mask images area start here  */
.our-musk-section{
    padding-bottom: 152px;
}
.mask-img-area{
    position: relative;
    height: 983px;
    width: 1124px;
}
.single-musk-imgg{
    position: absolute;
    left: -55px;
}
.single-musk-imgg-two{
    position: absolute;
    left: 470px;
    top: 80px;
}

.single-musk-imgg-three{
    position: absolute;
    right: 390px;
    bottom: -115px;
}
.mask-img-one-hover {
    display: none;
}
.mask-img-tow-hover {
    display: none;
}
.mask-img-three-hover {
    display: none;
}
.single-mask-img-one:hover .single-musk-imgg{
    visibility: hidden;
    opacity: 0;
    
}
.single-mask-img-one:hover .mask-img-one-hover{
    display: block;
    position: absolute;
    left: -55px;
    transition: .1s;
    top: 0;
}
.single-mask-img-tow:hover .single-musk-imgg-two{
    visibility: hidden;
    opacity: 0;
}
.single-mask-img-tow:hover .mask-img-tow-hover{
    display: block;
    position: absolute;
    left: 470px;
    top: 80px;
    transition: .1s;
}
.single-mask-img-three:hover .single-musk-imgg-three{
    visibility: hidden;
    opacity: 0;
}
.single-mask-img-three:hover .mask-img-three-hover{
    display: block;
    position: absolute;
    right: 390px;
    bottom: -115px;
    transition: .1s;
}
.single-mask-img-one .musk-one-heding{
    position: absolute;
    left: 160px;
    top: 300px;
    z-index: 999;
    color: #FFFFFF;
    font-family: 'Lora', serif;
    font-weight: 700;
}
.single-mask-img-one:hover .musk-one-heding{    
    color: #F29301;
    
}
.single-mask-img-tow .musk-tow-heding{
    position: absolute;
    left: 570px;
    top: 380px;
    z-index: 999;
    color: #FFFFFF;
    font-family: 'Lora', serif;
    font-weight: 700;
}
.single-mask-img-tow:hover .musk-tow-heding{
    color: #F29301;
}
.single-mask-img-three .musk-three-heding{
    position: absolute;
    left: 240px;
    top: 690px;
    z-index: 999;
    color: #FFFFFF;
    font-family: 'Lora', serif;
    font-weight: 700;
}
.single-mask-img-three:hover .musk-three-heding{
    color: #F29301;
}
.single-mask-hover {
    background-color: #ffffff;
    position: absolute;
    bottom: 100px;
    left: 270px;
    padding: 35px 17px 75px 84px;
    width: 511px;
    border-radius: 0px 120px 120px 120px;
    transition: all .3s;
}
.single-mask-hover h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;    
}
.single-mask-hover h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;    
}
/* our footer area style start here  */
.our-footer-section{
    background-color: #FFFFFF;
    margin: 91px 0px 22px 0;
}
.single-footer-list h2{
    color: #F29301;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 1.625rem;
}
.sub-footer-list li a{
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    text-transform: capitalize; 
    margin-bottom: 12px;  
    display: block; 
}
.sub-footer-list li a:hover{
       color: #18944C;
}
.bottom-footer{
    margin-top: 7.375rem;
}
.footer-end-text{
    font-size: 12px;
    line-height: 16px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 20%; 
    margin-bottom: 32px;   
}
.footer-end-line{
    display: flex;
    justify-content: space-between;

}
.single-line-one{
    background-color: #F29301;
    height: 10px;
    width: 33.33%;
}
.single-line-tow{
    background-color: #0071AF;
    height: 10px;
    width: 33.33%;
}
.single-line-three{
    background-color: #18944C;
    height: 10px;
    width: 33.35%;
}