@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
}

.secess-page{
    background-color: #fafafa;
    margin: 22px 22px 22px 60px;
    height: 900px;    
}

/* our header area style start here  */
.vorschau-nav{
    display: flex;
}
.vorschau-nav .single-nav{
    height: 4.438;
    font-size: 3.25rem;
    margin-top: 5.563rem;    
    font-weight: 700;
    color: #0071AF;
    padding: 6px 22px 8px 16px;
    margin-right: 3px;
    font-family: 'Nunito Sans', sans-serif;
}
.our-main-logo{
    text-align: end;
    margin-right: 1.125rem;
    margin-top: 2.286rem;
}
.our-menu-nabbar {
    position: absolute;
    left: 1.313rem;
    height: 2rem;   
    width: 2rem;
    top: 6.75rem;
    
}
.vorschau-nav .single-nav:hover{
    color: #18944C;
    transition: .1s;  
    background-color: #ffffff; 
    border-radius: 20px 30px 0px 0px; 
}
.single-navs{
    color: #F29301 !important;
}
.single-nav-one{
    padding: 6px 29px 8px 16px;
}

/* our off-canvar-menu style start here  */
.off-canvar-menu{
    background-color: #0071AF;
    position: fixed;
    width: 500px;
    height: 100%;
    margin-left: -500px;
    z-index: 9;
}
.off-canvar-menu.active{ 
    margin-left: 4.063rem;
    transition: .2s;
}
.menu-close{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
/* our hero area style start here  */
.our-hero-area{
    background-image: url(assets/images/Group\ 2.png);    
    height: 24.125rem;
    margin: 0px 22px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    
    
}
.hero-heding{
    padding-top: 2.313rem; 
    padding-left: 2.375rem;
    font-family: 'Lora', serif;
    font-size: 3.25rem;
    height: 4.188rem;
    font-weight: 700;
    color: #FFFFFF;
}
.hero-para{
    font-size: 1.25rem;
    font-weight:600;
    font-family: 'Nunito Sans', sans-serif;
}

/* our hero slider  */
.slick-next{    
    left: 25px;    
}
.slick-next:before {
    position: absolute;
    content:url('assets/images/slider-arows.svg');
    bottom: -140px;
    
}