@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #ffffff;
}

.secess-page{
    background-color: #fafafa;
    margin: 22px 22px 22px 60px;
    height: 900px;    
}

/* our header area style start here  */
.vorschau-nav{
    display: flex;
}
.vorschau-nav .single-nav{
    height: 4.438rem;
    font-size: 3.25rem;
    margin: 0 2.188rem;
}
.our-main-logo{
    text-align: end;
    margin-right: 1.125rem;
    margin-top: 2.286rem;
}
.our-menu-nabbar{
    position: absolute;
    left: 1.25rem;
}