/*destop-leyout-*/
@media only screen and (min-width: 1200px) and (max-width:1400px){
    
}
/*laptop-leyout-*/
@media only screen and (min-width: 992px) and (max-width:1200px){  
    .vorschau-nav .single-nav {
        font-size: 2.25rem;        
    } 
    .our-menu-nabbar {        
        top: 6.3rem;
    }
    .blog-heading {
        font-size: 2rem;        
    } 
    
}

/*tablet layout768px*/
@media only screen and (min-width: 768px) and (max-width:991px){  
    .vorschau-nav .single-nav {
        font-size: 1.5rem;        
    }
    .our-current-btm {        
        width: 600px;        
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .blog-heading {
        font-size: 1.6rem;        
    }

}
/* mobile layout:320px*/
@media only screen and (max-width:767px){
    .secess-page {
         background-color: inherit;
             margin: 22px 0px 22px 60px;        
    }
    .off-canvar-menu{
        display: none;
    }
    .main-logo{
        height: 200px;
        width: 200px;
    }
    .vorschau-nav .single-nav {
        font-size: 1.3rem;  
        padding: 6px 22px 8px 0px;     
    }
    .vorschau-nav {
        display: block;
        margin-top: 60px;
    }
    .sub-menu{
        display: none;
    }
    .sub-footer-list li a {        
        margin-bottom: 5px;
        
    }
    .our-footer-section {        
        margin: 40px 0px 0px 0;
    }
    .our-menu-nabbar {        
        top: 3.75rem;
    }
    .our-main-logo {        
        margin-top: -3rem;
    }
    /* slider area start here  */

    .slick-slider {        
        display: none;
    }
    .current-uparow {        
        display: none;
    }
    .hero-contact {
        rotate: -90deg;
        position: absolute;
        left: -11.6rem;
        top: 28rem;
        display: flex;
       
    }
    .hero-blog{
        display: block;
    }
    .hero-contact a {
        margin-right: 20px;
       
    }
    .our-current-section {
        padding: 34px 0px 0px 0px;
    }
    .current-heding h2 a {
        font-size: 20px;
        line-height: 1.75rem;        
    }
    .our-current-btm {        
        display: none;
    }
    .our-blog-section{
        display: none;
    }
    .our-musk-section {        
        display: none;
    }
   
    .mobile-footer{
        display: block;
    }
    .bottom-footer {
        margin-top: 1.375rem;
        margin-left: 60px;
    }
    .footer-end-text {        
        margin-left: 60px;
    }
    .single-footer-list{
        margin-left: 60px;
    }
    /* off canver mobile menu  */
.off-canvar-mobile-menu{
    display: block;
}
.offcanver-items img {
    height: 80px;
    width: 80px;
    margin-top: -25px;
}
.off-canvar-mobile-menu .menu-close{
    top: 65px;

}
.mobile-sub-menu, .mobile-sub-menu-three, .mobile-sub-menu-one{
    position: relative;

}
.mobile-sub-menu:hover .mobile-submenu{
    display: block;
    transition: .3s;
    
}
.mobile-sub-menu-one:hover .mobile-submenu{
    display: block;
    transition: .3s;    
}
.mobile-sub-menu-three:hover .mobile-submenu{
    display: block;
    transition: .3s;
}
.mobile-submenu{
    display: none;
}
.off-canvar-dwon-list ul {
    display: block;
    margin-top: 100px;
}
.off-canvar-dwon-list {
    margin-top: 200px;
    display: block;
}
.offcanver-mobile-nav-menu{
    margin-top: 100px;
}
.mobile-menu-navlist {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: block;
}

}