/*destop-leyout-*/
@media only screen and (min-width: 1200px) and (max-width:1400px){
    
}
/*laptop-leyout-*/
@media only screen and (min-width: 992px) and (max-width:1200px){   
    
    
}

/*tablet layout768px*/
@media only screen and (min-width: 768px) and (max-width:991px){  


}
/* mobile layout:320px*/
@media only screen and (max-width:767px){
    .secess-page {
         background-color: inherit;
             margin: 22px 0px 22px 60px;
        
    }
    .off-canvar-menu{
        display: none;
    }
    .main-logo{
        height: 200px;
        width: 200px;
    }
    .vorschau-nav .single-nav {
        font-size: 1.3rem;  
        padding: 6px 22px 8px 0px;     
    }
    .vorschau-nav {
        display: block;
        margin-top: 60px;
    }
    .sub-menu{
        display: none;
    }
    
    .our-menu-nabbar {        
        top: 3.75rem;
    }
    .our-main-logo {        
        margin-top: -3rem;
    }
    /* slider area start here  */

    .slick-slider {        
        display: none;
    }
    .current-uparow {        
        display: none;
    }
    .hero-contact {
        rotate: -90deg;
        position: absolute;
        left: -11.6rem;
        top: 28rem;
        display: flex;
       
    }
    .hero-blog{
        display: block;
    }
    .hero-contact a {
        margin-right: 20px;
       
    }
    .our-current-section {
        padding: 34px 0px 0px 0px;
    }
    .current-heding h2 a {
        font-size: 20px;
        line-height: 1.75rem;        
    }
    .our-current-btm {        
        display: none;
    }
    .our-blog-section{
        display: none;
    }
    .our-musk-section {        
        display: none;
    }
    .single-footer-list{
        margin: 0 40px;
    }

}